.wp-fullsocial-widget {
  border: 1px solid #ddd;
  padding: 0;
}

/**
 * TABS
 */

.wp-fullsocial-widget .wp-fullsocial-widget-tabs {
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul {
  margin: 0;
  list-style: none;
  height: 50px;
  background-color: #bbb;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li {
  list-style: none;
  width: 50px;
  height: 50px;
  float: left;
  background-color: #ccc;
  margin: 0px;
  cursor: pointer;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.current {
  background-color: white;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.widget-loading {
  color: #eee;
}

/**
 * BLOCKS
 */

.wp-fullsocial-widget .wp-fullsocial-blocks {
}

.wp-fullsocial-widget .wp-fullsocial-blocks ul {
  margin: 0;
  list-style:none;
}

.wp-fullsocial-widget .wp-fullsocial-blocks ul li {
  margin: 0;
}

.wp-fullsocial-widget .wp-fullsocial-blocks ul li.widget-loading {
  color: #aaa;
  background-color: #eee;
}

.wp-fullsocial-widget .wp-fullsocial-blocks ul li.wp-fullsocial-block {
  display: none;
}

.wp-fullsocial-widget .wp-fullsocial-blocks ul li.wp-fullsocial-block.current {
  display: block;
}
