.wp-fullsocial-widget {
  border: 1px solid #ddd;
  padding: 0;
}

/**
 * TABS
 */

.clear{
  width:100%;
  clear:both;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs {
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul {
  margin: 0;
  list-style: none;
  height: 40px;
  background-color: #bbb;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  float: left;
  background-color: #ccc;
  margin: 0px;
  cursor: pointer;
  text-indent:-9999px;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.current {
  background-color: white;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.widget-loading {
  color: #eee;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.twitter {
  background: url('images/logos.png') no-repeat -40px -40px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.twitter.current{
  background: #fff url('images/logos.png') no-repeat -40px 0px;
}

.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.facebook {
  background: url('images/logos.png') no-repeat -0px -40px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.facebook.current{
  background: #fff url('images/logos.png') no-repeat -0px 0px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.googleplus {
  background: url('images/logos.png') no-repeat -120px -40px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.googleplus.current{
  background: #fff  url('images/logos.png') no-repeat -120px 0px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.instagram {
  background: url('images/logos.png') no-repeat -80px -40px;
}
.wp-fullsocial-widget .wp-fullsocial-widget-tabs ul li.instagram.current{
  background: #fff url('images/logos.png') no-repeat -80px 0px;
}

/**
 * BLOCKS
 */

.wp-fullsocial-widget .wp-fullsocial-blocks {
  padding: 10px;
  height: 300px;
  overflow: auto;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul {
  margin: 0;
  list-style:none;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul li {
  margin: 5px 0;
  font-size: 10px;
  clear:both;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul li img {
  float: left;
  margin: 0 5px 5px 0;
  display: block;
  width:48px; height:48px;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul li.widget-loading {
  color: #aaa;
  background-color: #eee;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul li.wp-fullsocial-block {
  display: none;
}
.wp-fullsocial-widget .wp-fullsocial-blocks ul li.wp-fullsocial-block.current {
  display: block;
}
/*** Instagrams ***/

.wp-fullsocial-widget .wp-fullsocial-blocks .instagrams ul li {
  margin: 0 5px 5px 0;
  font-size: 10px;
  clear:none;
  float:left;
}
.wp-fullsocial-widget .wp-fullsocial-blocks .instagrams ul li img {
  float: left;
  margin: 0px;
  display: block;
  width:69px; height:69px;
}

